<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <!--注解支持-->
    <aop:aspectj-autoproxy/>
    <context:annotation-config/>
    <!--扫描的包应是大类-->
    <context:component-scan base-package="org.hhu.xy"/>


<!--使用 spring API-->
<!--    <bean id="user" class="org.hhu.cn.hhu.xy.service.User"/>-->
<!--    <bean id="aop" class="org.hhu.cn.hhu.xy.AOP.springAOP"/>-->
<!--    <aop:config>-->
<!--        <aop:pointcut id="pt" expression="execution(* org.hhu.cn.hhu.xy.service.User.*(..))"/>-->
<!--        <aop:advisor advice-ref="aop" pointcut-ref="pt"/>-->
<!--    </aop:config>-->

<!--自定义类-->
<!--    <bean id="aopDIY" class="org.hhu.cn.hhu.xy.AOP.DiyAOP"/>-->
<!--    <aop:config>-->
<!--      <aop:aspect ref="aopDIY">-->
<!--          <aop:pointcut id="pt" expression="execution(* org.hhu.cn.hhu.xy.service.User.*(..))"/>-->
<!--          <aop:before method="beforeDIY" pointcut-ref="pt"/>-->
<!--          <aop:after method="afterDIY" pointcut-ref="pt"/>-->
<!--      </aop:aspect>-->
<!--    </aop:config>-->

</beans>