<?xml version="1.0" encoding="UTF-8"?>
<!--<beans xmlns="http://www.springframework.org/schema/beans"-->
<!--       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"-->
<!--       xmlns:p="http://www.springframework.org/schema/p"-->
<!--       xmlns:c="http://www.springframework.org/schema/c"-->
<!--       xsi:schemaLocation="http://www.springframework.org/schema/beans-->
<!--        http://www.springframework.org/schema/beans/spring-beans.xsd">-->
<!--    <bean id="helloPersonP" class="org.hhu.cn.hhu.xy.pojo.HelloPerson"-->
<!--        p:name="cn.hhu.xy" p:location="hhu"-->
<!--    />-->
<!--    <bean id="helloPersonC" class="org.hhu.cn.hhu.xy.pojo.HelloPerson"-->
<!--          c:name="03" c:location="3309"-->
<!--    />-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
    <context:annotation-config/>
    <context:component-scan base-package="org.hhu.xy.pojo"/>
<!--    <bean id="lab" class="org.hhu.cn.hhu.xy.pojo.Lab"/>-->
<!--    <bean id="hello" class="org.hhu.cn.hhu.xy.pojo.Hello"/>-->



    <!-- more bean definitions go here -->

</beans>